<p>home works!</p>

<p>json-server --watch db.json</p>
<div class="container">
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Manage User</mat-card-title>
      <mat-card-subtitle>manage</mat-card-subtitle>
      <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
    </mat-card-title-group>
    <mat-card-content>
      longText
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Register iso</mat-card-title>
      <mat-card-subtitle>blabla</mat-card-subtitle>
      <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
    </mat-card-title-group>
    <mat-card-content>
      longText
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>liste iso</mat-card-title>
      <mat-card-subtitle>blabla</mat-card-subtitle>
      <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
    </mat-card-title-group>
    <mat-card-content>
      longText
    </mat-card-content>
  </mat-card>

</div>