<mat-toolbar color="primary">
  <span>{{title}}</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/home" routerLinkActive="active">
    <mat-icon>home</mat-icon>
  </button>
  <button *ngIf="role == 'Admin'" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/userList" routerLinkActive="active">
    <mat-icon>manage_accounts</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
